
/CommonProject/Temp
/CommonProject/Library
*.apk
*.log
*.ipa

ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
/CommonProject/.idea
/CommonProject/CommonProject.sln
/CommonProject/Assembly-CSharp.csproj
/CommonProject/Assembly-CSharp-Editor.csproj
/CommonProject/Unity.AssetBundleBrowser.Editor.csproj
/CommonProject/Unity.AssetBundleBrowser.Editor.Tests.csproj
CommonProject/CommonProject.sln
